body {
	background: #17ce73; 
	font-family: Ubuntu;
	font-size: 100%;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
	color: rgb(255, 0, 0);
}

header, main, footer {  min-width: 855px; }

header .container, aside .container, main .container, footer .container { 
	max-width: 1200px;
	margin: auto;
}

header { 
	font-family: Konstanting;
	background: white; 
	overflow: auto;
	margin-bottom: 3px;
	padding: 10px;
}
header a img {
	float: left;
	margin: 0 auto;
	height: 20%;
	width: 20%;
}
header .username {
	font-size: 200%;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}

header a {
	font-size: 150%;
	margin-right: 20px;
	text-align: right;
}

header nav {
	float: right;
	padding-top: 15px;
	/* padding-bottom: 100px; */
	/* margin-bottom: 10px; */
}
header .title{
	font-size: 500%;
	text-decoration: none;
	width: 570px;
	margin-right: 0px;
	color: black;

}
header .title:hover {
	color: red;
	text-decoration: none;
}



h1, h2, h3, h4 {
	font-size: 120%;
}



main .authorization {
	max-width: 1200px;
	background: #ddd; 
	margin: auto;
	border-radius: 5px;
}

main .authorization p {
	padding: 15px; 	
	padding-bottom: 0px;
	/*padding-left: 15px;*/
	font-size:20px;
	color: black;
}

main .authorization input {
	font-family: Ubuntu;
	margin: 10px; 
	font-size:18px;
	padding: 5px;
	padding-right : 60px;
	border: 2px solid black;
	border-radius: 8px;
}

main .authorization button {
	font-family: Ubuntu;
	top: 50px;
	left: 50px;  /*расстояние от края*/
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid black;
    padding: 5px;
    margin: 10px; 
	text-align: center; 
	float : right;
}

header { 
	background: white; 
	overflow: auto;
	margin-bottom: 3px;
	padding: 10px;
}
header nav {
	float: right;
	text-align: right;
	/*width: 285px;*/
	padding-top: 15px;
	font-size: 20px;
}
aside {
	background: white;
	overflow: auto;
	padding: 20px;
	margin-bottom: 3px;
}

main { 
	background: white; 
	overflow: auto;
	padding: 20px;
}
main .main_block {
	float: left;
	width: 570px;
}
main .image {
	float: right;	
	width: 285px;
}
main .faq {
	float: left;
}
main .faq p {
	margin-top: 5px;
	margin-bottom: 5px;
}
main h2 {
	font-size: 120%;
	margin-top: 10px;
	margin-bottom: 10px;
}
main h3 {
	margin-top: 10px;
	margin-bottom: 5px;	
}

ul{
	list-style: circle;
	list-style-position: inside;
}

footer {
	overflow: auto;
	padding: 10px;
	font-size: 20px;
}
footer .contact {
	float: right;
	text-align: right;
	width: 570px;
	/* padding-top: 15px; */
}

main .tabs a span {
	display: inline-block; 
	border-radius: 5px 5px 0 0; 
	width: 200px; 
	margin-right: 10px; 
	text-align: center; 
	font-size:20px;
	background: #ccc; 
	padding: 10px;
}
main .tabs a span.active { background: #ddd; }

.content {
	background: white;
	padding-bottom: 10px;
}
.content li{
	list-style: none;
	margin:  10px;
	padding-left: 5px;
	font-size:20px;
	border: right;
	padding: 10px;
	box-shadow: 0 0 0 10px #ddd;
}
.content p {
	padding: 15px; 	
	font-size:20px;
	color: red;
}
.content input {
	font-family: Ubuntu;
	width: 1160px;
	margin: 10px;
	padding: 10px;
	font-size:  20px;
	box-shadow: 0 0 0 10px #ddd;
}
.content h3 {
	margin: 20px;
}
.content button {
	font-family: Ubuntu;
	font-size: 24px;
	margin: 10px;
	margin-top: 30px;
	width: 20%;
	padding: 10px;
	background: white;
	box-shadow: 0 0 0 10px #ddd;
}

.linkEdit, .linkRemove {
	display: inline-block;
	float: right;
	padding-left: 15px; 
}
.linkEdit:hover, .linkRemove:hover {
	background: red;
	color: white;
	text-decoration: none;
} 